<!-- <p>map works!</p> -->
<!-- <google-map width="100%" height="400px" [center]="center" [zoom]="15">
    <map-marker [position]="center" [title]="'Dress Shop'"></map-marker>
</google-map> -->


<!-- <iframe src="https://maps.app.goo.gl/2hymkAWZqQgw9TWx7" width="600" height="450" style="border:0;" allowfullscreen=""
    loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d312.9921001897148!2d77.69001135347514!3d8.729109572151412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b04117b757f351b%3A0x97ba6320cad76a86!2sAnjana%20Devi%20Fashion%20Institute!5e0!3m2!1sen!2sin!4v1740319026060!5m2!1sen!2sin"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>